@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .a-internal {
    @apply underline text-orange-100 hover:text-orange-500;
  }
  .a-internal-dark {
    @apply underline text-purple-900 hover:text-purple-700;
  }
  .a-toc {
    @apply underline hover:text-amber-500;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #18181b;
}

::-webkit-scrollbar-thumb {
  background: #52525b;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

/* Firefox: */
* {
  scrollbar-width: thin;
  scrollbar-color: #52525b #18181b;
}
